body {
	background-color: black;
	color: white;
}

a {
	color: var(--font-color);
	text-decoration: none;

}
a:hover {
	color: var(--font-color-hover);
	list-style: none;
}

footer {
	display: flex;
	justify-content: center;
	padding: 10px;
}