/* these are the styles that are applied to all elements blablabla */

body {
	background-color: var(--background-secondary-color);
	color: white;
}

a {
	color: var(--font-color);
	text-decoration: none;

}
a:hover {
	color: var(--font-color-hover);
	list-style: none;
}