/* these are the styles that are applied to the whole html */

body {
	background-color: var(--background-secondary-color);
	color: white;
}

/* main {
	margin-inline-start: 3.75vw;
	margin-inline-end: 3.75vw;
	max-inline-size: 54rem, 64rem; 
}
*/
a {
	color: var(--font-color);
	text-decoration: none;

}
a:hover {
	color: var(--font-color-hover);
	list-style: none;
}