:root {
	--background: #000000;
	--background-secondary-color:#131414;

	--font-color: white;
	--font-color-hover: #eaff00;
	--font-size-header: 2rem;
	--font-size-text-l: 1.8rem;
	--font-size-text: 1.2rem;
	--font-size-text-s: 1rem;
	--font-family-header: 'Amarante', cursive;
	--font-family-display-header:'Oswald', sans-serif;

	--body-padding: 20px;
	--body-margin: 20px;
}

@media screen and (max-width: 780px) {
	:root {
		--body-padding-s: 15px;
		--body-margin-s: 100px 50px;
	}
}