.article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	padding: 4rem;
	height: 60vh;
	border: 2px solid var(--font-color-hover);
}

.article__header {
	font-size: var(--font-size-header);
	font-family: var(--font-family-display-header);
	margin-top: 1.8rem;
	margin-bottom: 1.5rem;
}

.article__paragraph {
	font-size: var(--font-size-text);
}

.article__author {
	font-size: var(--font-size-text);
}

.article__container--two {
	background-image: url(../../assets/krampus.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1024px) {
	.article__header {
		font-size: 1.7rem;
	}

	.article__paragraph {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 768px) {
	.article {
		display: grid;
		grid-template-columns: 1fr;
		height: 100vh;
		padding: 2rem;
	}

	.article__header {
		font-size: 1.6rem;
	}

	.article__paragraph {
		font-size: 1rem;
	}

	.article__author {
		font-size: 1rem;
	}

	.article__container--two {
		height: 30vh;
	}
}