body {
	height: 100vh;
}

.banner {
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../../assets/skull-with-santa.jpg);
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner__container {
	text-align: center;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	position: relative;
}

.banner__header {
	font-size: 2em;
	font-weight: 900;
	margin: 1rem;
	letter-spacing: 2px;
}

.banner__paragraph {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.banner__button {
	display: inline-block;
	margin: 0.5rem;
	padding: 1rem 1rem;
	font-size: 1rem;
	background-color: black;
	border: 4px solid black;
	text-align: center;
	text-decoration: inherit;
	border-radius: 20px;
	outline: none;
}

@media screen and (max-width: 768px) {
	.banner__container {
		top: 50%;
	}
	.banner__header {
		font-size: 1.5rem;
	}
	.banner__paragraph {
		font-size: 1rem;
	}
}