.feature {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: minmax(200px, auto);
	border: 2px solid white;
	margin: 100px 150px;
	justify-content: center;
}

.feature__img img {
	width: 200px;
	height: 20%;
}