.feature__header {
	text-align: center;
	font-family: var(	--font-family-header);
	font-size: var(--font-size-header);
	padding: 2rem;
}

.feature {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: minmax(200px, auto);
	gap: 15px;
}

.feature__box {
	display: flex;
	align-items: flex-start;
	width: 100%;
	font-family: var(--font-family-display-header);
	gap: 10px;
}

.feature__text--links {
	font-size: var(--font-size-text)
}

.feature__text--dates {
	font-size: var(--font-size-text-s);
	margin-block-start: 1rem;
	opacity: 20%;
}

.feature__img img {
	width: 250px;
	height: 150px;
}

@media screen and (max-width: 1024px) {
	.feature {
		display: grid;
		grid-template-columns: 1fr;
	}

	.article__paragraph {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 768px) {
	.feature {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 20px;
	}

	.feature__img img {
		width: 220px;
		height: 120px;
	}
}