header {
	display: flex;
	justify-content: space-between;
	top: 0;
	min-width: 100vh;
	padding: 1.5rem;
	background-color: var(--background);
}

.header__button-one, 
.header__button-two,
.header__logo {
	font-family: 'Amarante', cursive;
	font-size: var(--font-size-header);
	color: var(--font-color-hover);
}

.header__button-one {
	z-index: 99;
}

.header__logo {
	color: var(--font-color);
	font-size: 2em;
	z-index: 99;
}

@media screen and (max-width: 768px) {
	header {
		display: flex;
		flex-direction: row;
	}

	.header__button-one, 
	.header__button-two,
	.header__logo {
		font-size: 1.8rem;
	}
}