header {
	display: flex;
	justify-content: space-between;
	margin: 10px 10px;
	padding: 1rem;
	position: sticky;
	top: 2px;
	background-color: var(--background);
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
}

.header__button-one {
	font-family: 'Amarante', cursive;
	font-size: var(--font-size-header);
	color: var(--font-color-hover);
}

.header__navigation {
	display: flex;
	display: none;
	margin: 5px 5px;
	gap: 1rem;
	transition: 0.5s;
}

.header__navigation ul {
	display: flex;
	flex-basis: flex-end;
	margin: 5px 5px;
	gap: 50px;
}

.header__navigation--visible {
	display: flex;
	position: inherit;
	text-align: center;
}

/*added effects to the list items*/
.header__navigation ul li::after {
	width: 0%;
	height: 3px;
	background-color: var(--font-color-hover);
	display: block;
	content: '';
	transition: 1s;
}

.header__navigation ul li:hover::after {
	width: 100%;
}

@media screen and (max-width: 768px) {
	body {
		flex-direction: column;
	}
}