.magic-button {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin-top: 3rem;
	gap: 2rem;
}

.magic-button__text {
	font-family: var(--font-family-header);
	font-size: var(--font-size-text-l);
	text-align: center;
	border: 2px dotted var(--font-color-hover);
	border-radius: 10px;
	padding: 3rem;
}

.magic-button__output--response {
	font-family: var(--font-family-display-header);
	font-size: 1.7rem;
	text-align: center;
}

.magic-button__button {
	font-family: var(--font-family-header);
	font-size: 1.7rem;
	padding: 10px 20px;
	border: 2px dotted var(--font-color-hover);
	border-radius: 10px;
	color: black;
	background-color: var(--font-color-hover);
	width: 200px;
	align-self: center;
}

.magic-button__button:hover {
	background-color: #d6bc35;
}